<!DOCTYPE html>
<html>
<head>
	<title>松松.test</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel='stylesheet' href='/css/style.min.css' />
	<link rel="stylesheet" href="/css/articles.min.css">
</head>
<body>

	<div class="main">
		<!-- header begin -->
		<%- include('common/header', { user: user, state: 'articles' }) %>

		<!-- content begin -->
		<div class="content">
			<div class="col-sm-10 col-sm-offset-1">
				<% for(var i = 0; i < articles.length; i++) { %>
				<div class="section section-post">
					<a href="<%= articles[i].url %>" class="post-wrapper">
						<%- include('components/post', { post: articles[i] }) %>
					</a>
				</div>
				<% } %>

				<div class="paging-container">
					<%- include('components/paging', { paging: paging }) %>
				</div>
			</div>
		</div>

		<!-- footer begin -->
		<%- include('common/footer') %>
	</div>

	<!-- sidebar begin -->
	<%- include('common/sidebar') %>

	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>