<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="lib/swiper/dist/css/swiper.min.css">

	<link rel='stylesheet' href='css/style.min.css' />
	<link rel="stylesheet" href="css/post.min.css">
</head>
<body>

	<div class="main">
		<!-- header begin -->
		<%- include('common/header', { user: user, state: 'articles' }) %>

		<!-- content begin -->
		<div class="content">
			<div class="post-wrapper">
				<%- include('components/post', { post: post }) %>
			</div>
		</div>

		<!-- footer begin -->
		<%- include('common/footer') %>
	</div>

	<!-- sidebar begin -->
	<%- include('common/sidebar') %>

	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="lib/swiper/dist/js/swiper.jquery.min.js"></script>
	<script src="js/main.min.js"></script>
</body>
</html>