<!DOCTYPE html>
<html>
<head>
	<title>松松.作品展示</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
	<link rel='stylesheet' href='css/style.css' />
	<link rel="stylesheet" href="css/works.css">
</head>
<body>

	<div class="main">
		<!-- header begin -->
		<%- include('common/header', { user: user, state: 'works' }) %>

		<!-- content begin -->
		<div class="content">
			
			<!-- latest -->
			<div class="section section-latest">
				<div class="section-heading">
					<a href="#" class="pull-right section-more">
						更多
						<span class="icon-more"></span>
					</a>
					<h3 class="section-title">
						最近
					</h3>
				</div>
				<div class="section-body">
					<div class="row">
						<%- include('components/media', { medias: latest }) %>
					</div>
				</div>
			</div>

			<!-- background -->
			<div class="section section-background">
				<div class="section-heading">
					<a href="#" class="pull-right section-more">
						更多
						<span class="icon-more"></span>
					</a>
					<h3 class="section-title">
						高清背景图
					</h3>
				</div>
				<div class="section-body">
					<div class="row">
						<%- include('components/media', { medias: background }) %>
					</div>
				</div>
			</div>

			<!-- icon -->
			<div class="section section-icon">
				<div class="section-heading">
					<a href="#" class="pull-right section-more">
						更多
						<span class="icon-more"></span>
					</a>
					<h3 class="section-title">
						图标
					</h3>
				</div>
				<div class="section-body">
					<div class="row">
						<%- include('components/media', { medias: icon }) %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer begin -->
	<%- include('common/footer') %>
</div>

<!-- sidebar begin -->
<%- include('common/sidebar') %>

<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>